
.top-bar {

  font-size: 14px;
}


.main-navbar {
  background-color: #0f9d58;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc107 !important;
}

.text-white a {
  text-decoration: none;
}


a.text-white svg {
  font-size: 18px;
  transition: color 0.2s ease;
}

a.text-white:hover svg {
  color: #ffc107;
}
